---
name: chatops
on:
  issue_comment:
    types: [created]

permissions:
  pull-requests: write
  id-token: write
  contents: write

jobs:
  terraform-module:
    uses: cloudposse/.github/.github/workflows/shared-terraform-chatops.yml@main
    secrets:
      github_access_token: ${{ secrets.REPO_ACCESS_TOKEN }}
